<header class="topbar">
    <a routerLink="/" class="topbar-logo">Tutor<span>.</span></a>
    <div class="topbar-nav">
        <a *ngIf="tutorId" [routerLink]="['/sessions/tutor', tutorId]" class="nav-link">My Sessions</a>
        <a *ngIf="!tutorId && userId" [routerLink]="['/sessions/user', userId]" class="nav-link">My Sessions</a>
    </div>
    <div class="topbar-user">
        <div>
            <div class="topbar-name">{{ currentUser?.user?.firstName }} {{ currentUser?.user?.lastName }}</div>
        </div>
        <button class="btn-logout" (click)="logout()">Sign out</button>
    </div>
</header>
